.explorer{
    height: 200px;
    width: 200px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    margin: 0 auto;
}


.contenedorInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}


.space{
    font-size: 150px;
}

@media all and (max-width:540px){
    .space{
        font-size: 50px;
    }

    .space2{
        font-size: 15px;
    }
}