

.App{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.maninSection{
  flex-grow: 1;
}


/* *******************************************navbar   */
.navbarSpace{
  width: 100%;
  background-color: transparent;
  color: white;

}

.navSpace{
  background-color: rgba(0, 0, 0, 0.616);
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  left: 50px;

}
/* **************************************************** */


.linkMenu:hover .link{
 width: 100%;
 transition: 0.2s ease;
}

.link{
  height: 0.3px;
  width: 0%;
  background-color:white;
}

.spanMenu{
  height: 1px;
  width: 100%;
  border: solid  rgba(128, 128, 128, 0.39);
}

.divLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorLinks{
 display: flex;
 justify-content: flex-start;
 align-items: flex-end;
 height: 100%;
}



.botonDestino{
  border: none;
  background-color: transparent;
  color:white;
}


.botonDestino::after{
  content: "";
  width: 0%;
  height: 1px;
  display: block;
  background-color: red;
}

.botonDestino:hover::after{
  content: "";
  width: 100%;
  display: block;
  background-color:white;
  transition: 0.5s ease;
}

.nombreTituloCard{
  font-size: 100px;
}


.cardKM{
 display: flex;
 gap: 100px;
}

.cardKM div{
  width: 100%;
  color: white;
}


.imgPlaneta{
  margin-top: -62px;
}

.botonDestino2{
  border: none;
  border-radius: 10px;
  background-color: rgb(37, 36, 36);
  color:white;
  width: 50px;
}

.botonDestino2:hover{
  scale: 1.1;
  background-color: grey;
}

@media all and (max-width:480px){
  .navbarSpace{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.861);
    color: white;
    display: flex;
    justify-content: center;
  
  }

  .navSpace{
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    display: flex;
    justify-content: center;
    
    gap: 10px;
    position: relative;
    left: 0;
  
  }

  .navSpace .btnNav{
    margin-left: 0;
    text-align: start;
  }
  
  .spanMenu{
    display: none;
  }

  .NavbarSpace{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.616);
    height: 100%;
    display: flex;
    justify-content: center;
    
  }

   .NavbarSpace div{
    width: 50%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  
  .NavbarSpac Button{
    background-color: red;
  }


  .App{
    background-image: url("./img/background-home-tablet.jpg");
  }

  .cardKM{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

  }

  .cardKM div{
    margin-top: 20px;
    text-align: center;

   
  }

  .imgPlaneta{
    margin-left: 45px;
  }

  .descPlaneta{
    text-align: center;
    margin-bottom: 20px;
  }

  .contenedorLinks{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    gap: 20px;
   }
}
@media all and (max-width:768px){
  .navbarSpace{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.861);
    color: white;
    display: flex;
    justify-content: center;
  
  }

  .navSpace{
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    display: flex;
    justify-content: center;
    
    gap: 10px;
    position: relative;
    left: 0;
  
  }

  .navSpace .btnNav{
    margin-left: 0;
    text-align: start;
  }
  
  .spanMenu{
    display: none;
  }

  .NavbarSpace{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.616);
    height: 100%;
    display: flex;
    justify-content: center;
    
  }

   .NavbarSpace div{
    width: 50%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  
  .NavbarSpac Button{
    background-color: red;
  }


  .App{
    background-image: url("./img/background-home-tablet.jpg");
  }

  .cardKM{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10px;
    text-align:center;
    gap: 0;
    

  }

  .cardKM div{
    margin-top: 20px;
    display: flex;
   flex-direction: column;
   font-size: 20px;
  }
   
  
  .imgPlaneta{
    margin-left: 45px;
    margin-top: 0px;
  }

  .descPlaneta{
    /* text-align: center; */
    margin-bottom: 20px;
  }

  .contenedorLinks{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    gap: 20px;
   }
}