

.App{
  /* background-image: url("../src/img/background-home-desktop.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.maninSection{
  flex-grow: 1;
}

.NavbarSpace{
  width: 75%;
  background-color: rgba(7, 7, 7, 0.616);
  height: 60px;
  display: flex;
  align-items: center;
 }


.linkMenu:hover .link{
 width: 100%;
 transition: 0.2s ease;
}

.link{
  height: 0.3px;
  width: 0%;
  background-color:white;
}

.spanMenu{
  height: 1px;
  width: 100%;
  border: solid  rgba(128, 128, 128, 0.39);
}

.divLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorLinks{
  margin-top: 100px;
  display: flex;
  justify-content: end;
}

.botonDestino{
  border: none;
  background-color: transparent;
  color:white;
}


.botonDestino::after{
  content: "";
  width: 0%;
  height: 1px;
  display: block;
  background-color: red;
}

.botonDestino:hover::after{
  content: "";
  width: 100%;
  display: block;
  background-color:white;
  transition: 0.5s ease;
}


@media all and (max-width:540px){
  

  .Toggle{
    color: white;
     background-color: aqua;
  }
  .spanMenu{
    display: none;
  }

  .NavbarSpace{
   width: 100%;
   margin-top: 60px;

  }

  .App{
    background-image: url("./img/background-home-tablet.jpg");
  }
}